# ATTENTION:
# This file is intended to be the "local" configuration file for your user.
# It SHOULD NOT BE SYMLINKED to the dotfiles repo, the following values are examples.
# If you don't need any local configuration, you can also omit this file from your
# home directory entirely.
[user]
    name = Markus Dangl
    email = 663399+xicesky@users.noreply.github.com
    #email = markus.dangl@mobilexag.de
[difftool]
    #guiDefault = true
[difftool "meld"]
    #cmd = \"C:/Program Files (x86)/Meld/Meld.exe\" \"$LOCAL\" \"$REMOTE\"
[mergetool "meld"]
    #path = C:/Program Files (x86)/Meld/Meld.exe
