*.swp
vim/.vim/.netrwhist
vlc/.config/vlc/vlcrc
vlc/.config/vlc/vlc-qt-interface.conf
xmonad/.xmonad/xmonad-x86_64-linux
xmonad/.xmonad/xmonad.errors
xmonad/.xmonad/xmonad.hi
xmonad/.xmonad/xmonad.o
*.code-workspace
.vscode
_old_*

