[submodule "fonts/source-code-pro"]
	path = fonts/source-code-pro
	url = git@github.com:adobe-fonts/source-code-pro.git
	branch = release
[submodule "vim/.vim/bundle/vim-pathogen"]
	path = vim/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/.vim/bundle/LargeFile"]
	path = vim/.vim/bundle/LargeFile
	url = https://github.com/vim-scripts/LargeFile
[submodule "vim/.vim/bundle/vim-gnupg"]
	path = vim/.vim/bundle/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/.vim/bundle/vim-dim"]
	path = vim/.vim/bundle/vim-dim
	url = https://github.com/jeffkreeftmeijer/vim-dim
