[submodule "fonts/source-code-pro"]
	path = fonts/source-code-pro
	url = https://github.com/adobe-fonts/source-code-pro.git
	branch = release
[submodule "vim/.vim/bundle/vim-pathogen"]
	path = vim/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/.vim/bundle/LargeFile"]
	path = vim/.vim/bundle/LargeFile
	url = https://github.com/vim-scripts/LargeFile
[submodule "vim/.vim/bundle/vim-gnupg"]
	path = vim/.vim/bundle/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/.vim/bundle/vim-dim"]
	path = vim/.vim/bundle/vim-dim
	url = https://github.com/jeffkreeftmeijer/vim-dim
[submodule "vim/.vim/bundle/idris-vim"]
	path = vim/.vim/bundle/idris-vim
	url = https://github.com/idris-hackers/idris-vim.git
[submodule "vim/.vim/bundle/idris2-vim"]
	path = vim/.vim/bundle/idris2-vim
	url = https://github.com/edwinb/idris2-vim
[submodule "thirdparty/grml/grml-etc-core"]
	path = thirdparty/grml/grml-etc-core
	url = https://github.com/grml/grml-etc-core
