Config
{ position = TopW L 90
, bgColor = "black"
, fgColor = "grey"
, border= TopB
, borderColor = "black"
--, font = "-misc-fixed-*-*-*-*-10-*-*-*-*-*-*-*"
, font = "xft:Bitstream Vera Sans Mono:pixelsize=12"
, lowerOnStart = True
, persistent = False
, allDesktops = True        -- show on all desktops
, overrideRedirect = True   -- set the Override Redirect flag (Xlib)
, pickBroadest = False      -- choose widest display (multi-monitor)
, commands =
    [ Run Network "eth0" ["-L","0","-H","32","--normal","green","--high","red"] 10
--    , Run Network "eth1" ["-L","0","-H","32","--normal","green","--high","red"] 10
    , Run Cpu ["-L","3","-H","50","--normal","green","--high","red"] 10
    , Run Memory ["-t","Mem: <usedratio>%"] 9
    , Run Swap [] 10
    , Run Com "uname" ["-n","-r"] "" 36000
    , Run Date "%Y-%m-%d %H:%M" "date" 100
    , Run StdinReader
    ]
, sepChar = "%"
, alignSep = "}{"
, template = "%StdinReader% }{ %cpu% | %memory% * %swap% | %eth0% | <fc=#ee9a00>%date%</fc> | %uname%"
}
