# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8

[*.py]
trim_trailing_whitespace = true
insert_final_newline = true

[*.{js,json,yaml}]
charset = utf-8
indent_size = 2
